.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.container h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.594);
  padding-bottom: 10px;
}

.container h3 {
  text-align: center;
  width: 80%;
}
